nav {
    background-color: rgb(48, 74, 222);
    padding: 1rem 1rem;
    font-weight: 100 !important;
}

nav a {
    margin-right: 1rem !important;
    color: #FFF;
    letter-spacing: 0.06rem;
    text-decoration: none;
}

.active {
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    background-color: rgb(32, 33, 39);
}

.flight-table {
    overflow-x: auto;
}

.flight-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.flight-table table th,
td {
    text-align: left;
    padding: 8px;
}

.flight-table table th {
    color: #fff;
}

.chip {
    padding: 0.3rem;
    border: 0;
    border-radius: 0.2rem;
    letter-spacing: 0.06rem;
    font-size: 0.8rem;
}

.pale-blue {
    background-color: rgb(52, 88, 146);
}

.bright-blue {
    background-color: rgb(37, 37, 212);
}

.medium-green {
    background-color: rgb(15, 132, 52);
}

.dark-red {
    background-color: rgb(121, 17, 17);
}

.light-red {
    background-color: rgb(175, 10, 10);
}

.table-row:hover {
    background-color: #353535;
    transition: 0.3s ease;
}

.page-button {
    background: #0877a5;
    border: 0;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    font-weight: bold;
    color: #fff;
    border-radius: 0.2rem;
    margin-right: 0.4rem;
    transition: 0.3s ease;
}

.page-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    font-weight: 100;
}

.page-button:not(:disabled):hover {
    background-color: #0d5473;
}

.page-button:not(:disabled):active {
    background-color: #0c3649;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}